@font-face {
    font-family: "Abraham";
    src: url("Abraham-Black.otf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Light.otf") format("truetype");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Thin.otf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Abraham-Medium";
    src: url("resources/fonts/Abraham-Medium.otf") format("truetype");
}

body {
    /* cursor: none; */
    overflow: hidden;
    font-family: 'Abraham';
    letter-spacing: 0.1em;
    font-weight: normal;
    background-color: black;
    color: white;
    text-align: right;
    direction: rtl;
}

div#mainPage {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow: auto;
}

div#rightSide {
    padding: 800px 10px;
    padding-bottom: 100px;
}

div#leftSide {
    justify-content: center;
    align-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    width: calc(50% - 100px);
    padding: 50px;
    height: calc(100% - 100px);
    display: flex;
}

img#imageMovie {
    width: 100%;
}

#mainPage::-webkit-scrollbar {
    display: none;
}

#sbaHeder {
    font-weight: normal;
}

.movie, #sbaHeder {
    padding-right: 20px;
}

.movie.selected {
    color: black;
    background-color: #FF00F7;
}

/* ------------------------- Movie Page --------------------------------- */
#moviePage {
    position: fixed;
    top: 0px;
    background-color: black;
    width: calc(100% - 60px);
    height: 100%;
    padding: 30px 80px;
    overflow: hidden;
}

.titlepages {
    font-size: 25;
}

.nomarginB {
    font-size: 30;
    margin-bottom: 0;
    text-align: right;
}

#movieTitle {
    font-size: 48;
    color: #C300D6;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#type {
    font-size: 30;
    margin-top: 0;
}

#screeningRoom {
    font-size: 50;

}

#moviePage {
    display: grid;
}

#movieInfo {
    overflow: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

#screeningInfo {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#screenGroupTitle {
    margin-top: 0;
}

.movieScreenTime {
    margin-top: 6px;
}

.movieScreenTime.selected {
    font-weight: bold;
    color: #C300D6;
}
.movieScreenTime .time{
    width: 120px;
    display: inline-block;
}