@font-face {
    font-family: "Abraham";
    src: url("Abraham-Black.otf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Light.otf") format("truetype");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Abraham";
    src: url("resources/fonts/Abraham-Thin.otf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Abraham-Medium";
    src: url("resources/fonts/Abraham-Medium.otf") format("truetype");
}

body {
    /* cursor: none; */
    overflow: hidden;
    font-family: 'Abraham';
    letter-spacing: 0.1em;
    font-weight: normal;
    background-color: black;
    color: white;
    text-align: right;
    direction: rtl;
}

div#mainPage {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow: auto;
}

div#leftSide img {
    max-height: 600px;
    left: 0px;
    top: 120px;
    display: none;
    position: absolute;
}

div#rightSide {
    padding: 20px 10px;
    padding-bottom: 100px;
}

div#leftSide {
    justify-content: center;
    display: flex;
    align-content: space-around;
    align-items: center;
}

#mainPage::-webkit-scrollbar {
    display: none;
}

#sbaHeder {
    font-weight: normal;
}

.movie, #sbaHeder {
    padding-right: 20px;
}

.movie.selected {
    color: black;
    background-color: #FF00F7;
}

/* ------------------------- Movie Page --------------------------------- */
#moviePage {
    position: absolute;
    top: 0px;
    background-color: black;
    width: calc(100% - 40px);
    height: 100%;
    padding: 20px;
}

.titlepages
  {
    font-size: 25;
  }
  .nomarginB
  {
    font-size: 30;
    margin-bottom: 0;
    text-align: right;
  }
  #movieTitle
  {
    font-size: 48;
    color: #C300D6;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  #type
  {
    font-size: 30;
    margin-top: 0;
  }

  #screeningRoom
  {
    font-size: 50;
    
  }

  #moviePage
  {
    display: grid;
  }
  #movieInfo{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #screeningInfo{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #screenGroupTitle{
    margin-top: 0;
  }